---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Radiohead&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www239
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish3
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<lfm status=\"ok\">\n<toptracks
        artist=\"Radiohead\" page=\"1\" perPage=\"50\" totalPages=\"20\" total=\"1000\">\n\n
        \                       <track rank=\"1\">\n    <name>Creep</name>\n    <duration>235</duration>\n
        \           <playcount>539868</playcount>\n                <listeners>150825</listeners>\n
        \   \n            <mbid>02093751-b80e-4d20-8e9f-d502df6bf516</mbid>\n         \n
        \   \n    <url>http://www.last.fm/music/Radiohead/_/Creep</url>\n    <streamable
        fulltrack=\"0\">0</streamable>\n            <artist>\n        <name>Radiohead</name>\n
        \               <mbid>a74b1b7f-71a5-4011-9441-d0b5e4122711</mbid>\n     \n
        \       <url>http://www.last.fm/music/Radiohead</url>\n    </artist>\n                <image
        size=\"small\">http://userserve-ak.last.fm/serve/34s/49158523.png</image>\n
        \   <image size=\"medium\">http://userserve-ak.last.fm/serve/64s/49158523.png</image>\n
        \   <image size=\"large\">http://userserve-ak.last.fm/serve/126/49158523.png</image>\n
        \   <image size=\"extralarge\">http://userserve-ak.last.fm/serve/300x300/49158523.png</image>\n
        \       </track>                    <track rank=\"2\">\n    <name>Karma Police</name>\n
        \   <duration>261</duration>\n            <playcount>484052</playcount>\n
        \               <listeners>145314</listeners>\n    \n            <mbid>08ce4cfb-f0dd-4b71-9e9c-12bb233f2726</mbid>\n
        \        \n    \n    <url>http://www.last.fm/music/Radiohead/_/Karma+Police</url>\n
        \   <streamable fulltrack=\"0\">0</streamable>\n            <artist>\n        <name>Radiohead</name>\n
        \               <mbid>a74b1b7f-71a5-4011-9441-d0b5e4122711</mbid>\n     \n
        \       <url>http://www.last.fm/music/Radiohead</url>\n    </artist>\n                <image
        size=\"small\">http://userserve-ak.last.fm/serve/34s/66781226.png</image>\n
        \   <image size=\"medium\">http://userserve-ak.last.fm/serve/64s/66781226.png</image>\n
        \   <image size=\"large\">http://userserv[...]
