---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Biosphere&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www213
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<lfm status=\"ok\">\n<toptracks
        artist=\"Biosphere\" page=\"1\" perPage=\"50\" totalPages=\"20\" total=\"1000\">\n\n
        \                       <track rank=\"1\">\n    <name>Kobresia</name>\n    <duration>432</duration>\n
        \           <playcount>18329</playcount>\n                <listeners>6199</listeners>\n
        \   \n            <mbid>362e18e2-ee96-47da-a198-8bfe4239374c</mbid>\n         \n
        \   \n    <url>http://www.last.fm/music/Biosphere/_/Kobresia</url>\n    <streamable
        fulltrack=\"0\">0</streamable>\n            <artist>\n        <name>Biosphere</name>\n
        \               <mbid>a5ee1ebe-a645-45d2-8319-d101fe62e581</mbid>\n     \n
        \       <url>http://www.last.fm/music/Biosphere</url>\n    </artist>\n                <image
        size=\"small\">http://userserve-ak.last.fm/serve/34s/67454206.png</image>\n
        \   <image size=\"medium\">http://userserve-ak.last.fm/serve/64s/67454206.png</image>\n
        \   <image size=\"large\">http://userserve-ak.last.fm/serve/126/67454206.png</image>\n
        \   <image size=\"extralarge\">http://userserve-ak.last.fm/serve/300x300/67454206.png</image>\n
        \       </track>                    <track rank=\"2\">\n    <name>Poa Alpina</name>\n
        \   <duration>251</duration>\n            <playcount>18311</playcount>\n                <listeners>5964</listeners>\n
    [...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Boards%20of%20Canada&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www215
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<lfm status=\"ok\">\n<toptracks
        artist=\"Boards of Canada\" page=\"1\" perPage=\"50\" totalPages=\"20\" total=\"1000\">\n\n
        \                       <track rank=\"1\">\n    <name>Reach for the Dead</name>\n
        \   <duration>287</duration>\n            <playcount>240637</playcount>\n
        \               <listeners>66042</listeners>\n    \n            <mbid>43851bea-ac99-4d33-b623-b19bb887eaab</mbid>\n
        \        \n    \n    <url>http://www.last.fm/music/Boards+of+Canada/_/Reach+for+the+Dead</url>\n
        \   <streamable fulltrack=\"0\">0</streamable>\n            <artist>\n        <name>Boards
        of Canada</name>\n                <mbid>69158f97-4c07-4c4e-baf8-4e4ab1ed666e</mbid>\n
        \    \n        <url>http://www.last.fm/music/Boards+of+Canada</url>\n    </artist>\n
        \               <image size=\"small\">http://userserve-ak.last.fm/serve/34s/90102967.png</image>\n
        \   <image size=\"medium\">http://userserve-ak.last.fm/serve/64s/90102967.png</image>\n
        \   <image size=\"large\">h[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=deadmau5&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www176
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Engineers&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www225
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish4
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Ladytron&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www216
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish3
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=M83&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www232
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPGxmbSB[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=The%20Orb&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www237
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish3
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Orbital&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www222
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish4
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Radiohead&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www218
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Sasha&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www213
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Thom%20Yorke&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www198
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish4
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmV[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Tom%20Petty%20and%20The%20Heartbreakers&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www238
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UTF-8
      string: "<?xml v[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=API_KEY&artist=Young%20Marble%20Giants&method=artist.getTopTracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www215
      Content-Type:
      - text/xml; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish4
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" e[...]
